<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer other details</title>
</head>
<body style="background-color: rgba(0,0,0,.2);">


    <div>
        <form #form1="ngForm" (ngSubmit)="getvalue(form1.value)">
        <table  align="center" style="color:black">
            <tr><th colspan="2" style="text-align:center"><h3><b>CUSTOMER OTHER DETAILS</b></h3></th></tr>
            <tr>
                <th class="t"><label for="cr">CREDIT RATING:</label></th><td><input ngModel type="text" name="cr" id="cr" placeholder="--Enter Credit Details--"></td>
            </tr>
            
            <tr>
                <th  class="t"><label for="cl">CREDIT LIMITS:</label></th><td><input ngModel type="text" name="cl" id="cl" placeholder="--Enter Credit Limits--"></td>
            </tr>
            <tr>
                <th  class="t"><label for="cb">CASH BALANCE:</label></th> <td><input ngModel type="text" name="cb" id="cb" placeholder="--Enter Cash Balance--"></td>
            </tr>
            <tr>
                <th  class="t"><label for="at"><b>ACCOUNT TYPE:</b></label></th> <td><input ngModel type="text" name="at" id="at" placeholder="--Enter Account Type--"></td>

            </tr>
          

            <tr>
               <th colspan="2"><input type="submit" id="btn" value="submit"></th>  

            </tr>

        </table>
        </form>

    </div>
    
</body>
</html>
