

<h1>welcome buddy  </h1>

<!-- customer information component  -->

<!-- <app-customer-info></app-customer-info>                              -->


<!-- customer Address component  -->
<!-- <app-customer-address></app-customer-address>                          -->

<!-- customer other details component  -->

<app-customer-otherdetails></app-customer-otherdetails>                 

 
<!-- <app-ved-home title1={{title}}></app-ved-home>

<button (click)="update()">click me</button> -->

  


<!--  router-outlet ek router ha jo ki app.modules.ts se aa rha hai import ke thorugh  or app.module.ts mai routing app-routing.module.ts se routing export hui hai  -->