<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Information</title>
</head>
<body style="background-color: rgba(0,0,0,.2);">


    <div>
        <form #form1="ngForm" (ngSubmit)="getvalue(form1.value)">
        <table  align="center" style="color:black">
            <tr><th colspan="2" style="text-align:center"><h3><b>CUSTOMER INFORMATION</b></h3></th></tr>
            <tr>
                <th class="t"><label for="firstname">FIRST NAME:</label></th><td><input ngModel type="text" name="firstname" id="firstname" placeholder="--Enter First Name--"></td>
            </tr>
            
            <tr>
                <th  class="t"><label for="lastname">LAST NAME:</label></th><td><input ngModel type="text" name="lastname" id="lastname" placeholder="--Enter Last Name--"></td>
            </tr>
            <tr>
                <th  class="t"><label for="email">EMAIL:</label></th> <td><input ngModel type="email" name="email" id="email" placeholder="--Enter Email--"></td>
            </tr>
            <tr>
                <th  class="t"><label for="dob">DOB:</label></th> <td><input ngModel type="date" name="dob" id="dob"></td>

            </tr>
            <tr>
                <th  class="t"><label for="mobile">MOBILE:</label></th><td><input ngModel type="text" name="mobile" id="mobile" placeholder="--Enter Mobile No--"></td>
            </tr>

            <tr>
               <th colspan="2"><input type="submit" id="btn" value="submit"></th>  

            </tr>

        </table>
</form>
    </div>
    
</body>
</html>
